<footer class="footer">
    <div class="container">
        <nav class="footer__nav">
            <ul class="footer__menu">
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'index' %}#carouselExampleCaptions">Медицинский туризм</a></li>
                <li><a href="{% url 'confidentialitly' %}">Политика конфиденциальности</a></li>
                <li><a class="modalbox" href="#request">Оставить отзыв</a></li>
            </ul>
            <p>Copyright ©     2024 Все права защищены</p>
        </nav>
    </div>
</footer>