.header{
    padding-top: 30px;
    background: white;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;
    &__top{
        &__menu{
           display: flex; 
           justify-content: space-between;
           align-items: center;
           li{
            color: rgb(143, 143, 143);
            font-weight: 500;
            .logo{
               width: 350px;
               height: 70px;
            }
           }
        } 
    }
    &__nav{
        padding: 20px 0;
        &__menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                a{
                    color: rgb(143, 143, 143);
                    font-weight: 700;
                    font-size: 18px;
                }
            }
        }
    }
}