{% extends 'base.html' %}
{% load static %}

{% block content %}
    
    <main>
        <section class="confidentiality">
            <div class="container">
                <h2>Политика конфиденциальности</h2>
                <p>Настоящая политика сбора, хранения, применения, публикации и корректировки персональных данных составлена в соответствии с Законом КР от 14.04.2008 года №58 «Об информации персонального характера» и определяет порядок обработки персональных данных и меры по обеспечению их безопасности.  <br><br>

                    Сайт не имеет права собирать, использовать или делиться персональными данными без соответствующего согласия на эти действия пользователя. <br><br>
                    
                    Сайт может использовать идентификационные файлы cookies.
                    Пользуясь сайтом, вы выражаете свое согласие на их использование. Они представляют собой небольшие текстовые файлы, применяемые для опознавания повторных посетителей, упрощения доступа и использования материалов, а также отслеживания обращений и сбора общей информации для улучшения его контента. <br><br>
                    
                    Политика ответственности <br><br>
                    
                    
                
                    Некоторые ссылки направляют к ресурсам, расположенным на сторонних сайтах. Мы не несем никакой ответственности за доступность этих ресурсов, за их контент. Данная информация относится ко всем материалам, доступным по этим ссылкам.</p>
            </div>
        </section>
        
        <section class="modal">
            <div id="inline">
                <h2>Отправка сообщения</h2>

                <form id="contact" name="contact" action="#" method="post">
                    <label for="email">Ваш E-mail</label>
                    <input type="email" id="email" name="email" class="txt">
                    <br>
                    <label for="msg">Введите сообщение</label>
                    <textarea id="msg" name="msg" class="txtarea"></textarea>

                    <button id="send">Отправить E-mail</button>
                </form>
            </div>
        </section>
    </main>

    {% endblock content %}