@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,800&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  list-style-type: none;
  resize: none;
  font-family: "Montserrat", Arial, sans-serif;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
@import "./header.scss";
@import "./slider.scss";
@import "./about.scss";
@import "./choose__us.scss";
@import "./consultation.scss";
@import "./services.scss";
@import "./before__after.scss";
@import "./specialist.scss";
@import "./reviews.scss";
@import "./contacts.scss";
@import "./footer.scss";
@import "./modal.scss";
@import "./banner.scss";
@import "./stock.scss";
@import "./price.scss";
@import "./confidentiality.scss";
@import "./media.scss";
